<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Camera Feed</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h3 class="mt-5">
                    Live Streaming
                </h3>
                <img src="{{ url_for('video_feed') }}" width="640" height="480" alt="CAN'T DISPLAY">


            </div>

        </div>
    </div>
</body>

</html>





<!--
    <body>
    <h1>Camera Feed</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
</body>
-->